<h1>Sign-Up Form!</h1>

<form action="/register" method="POST">
    <input type="text" placeholder="Username" name="username">
    <input type="password" name="password" placeholder="Password">
    <button>Submit</button>
</form>

<li><a href="/register">Sign up!</a></li>
<li><a href="/logout">Logout</a></li>
<li><a href="/login">Login</a></li>