<h1>THIS IS THE SECRET ONE</h1>
<p>YOU GOT ME</p>
<img src="https://picsum.photos/200" alt="">

<li><a href="/register">Sign up!</a></li>
<li><a href="/logout">Logout</a></li>
<li><a href="/login">Login</a></li>